:root {
    --app-color-1: #7a37fe;
    --app-color-2: #3ec6f7;
    --app-color-3: #f0f8ff;
    --app-color-4: #c0bebe;
    --text-color-1: #444;
    --text-color-2: #555;
    --text-color-3: #666;
    --text-color-4: #888;
    --color-white-1: #fff;
    --color-white-2: #f0eeee;
    --color-black-1: #212121;
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }

    to {
        transform: scale(var(--growth-to));
    }
}

@keyframes sideIn {
    from {
        opacity: 0;
        transform: scale();
    }

    to {
        opacity: 1;
        transform: scale();
    }
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.center-y {
    display: flex;
    justify-content: center;
}

.center-x {
    display: flex;
    align-items: center;
}

.center-all {
    display: flex;
    align-items: center;
    justify-content: center;
}

html {
    font-family: sans-serif;
}

body {
    background-color: rgb(62 198 247 / 60%);
}

li {
    list-style: none;
}

.strikethrough {
    text-decoration: line-through;
    background-color: rgba(41, 131, 248, 0.3) !important;
}

.strikethrough2 {
    text-decoration: line-through;
}

app {
    display: block;
    position: relative;
    margin: 30px auto;
    width: 60%;
    min-height: 515px;
    background-color: var(--color-black-1);
    border-radius: 10px;
    border: 1.6px var(--app-color-3) solid;
    min-width: 500px;
    max-width: 500px;
}

add-note {
    width: 100%;
    margin-top: 25px;
}

.input-note {
    width: 88%;
    height: 40px;
    outline: none;
    border: 2px solid var(--app-color-1);
    border-radius: 10px;
    padding-left: 12px;
    font-size: 16px;
    color: var(--color-white-1);
    background: rgba(0, 0, 0, 0);
}

.input-note::placeholder {
    color: var(--color-white-1);
    font-size: 15px;
}

.btn-add {
    height: 40px;
    right: 26px;
    position: absolute;
    width: 60px;
    border: 1.4px solid linear-gradient(to right, var(--app-color-1), var(--app-color-2));
    background: linear-gradient(to right, var(--app-color-1), var(--app-color-2));
    color: var(--color-white-1);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 15px;
    font-weight: 700;
}

.btn-add:hover {
    background: linear-gradient(to right, rgb(146, 93, 252), rgb(106, 213, 252));
}

list-note {
    flex-direction: column;
    margin: 10px 35px 20px 30px;
    display: block;
}

list-pin {
    flex-direction: column;
    margin: 10px 35px 12px 30px;
    display: block;
    padding: 0 0 5px 0;
    border-bottom: 1.5px dashed var(--color-white-1);
}

.item-note {
    display: flex;
    align-items: center;
    position: relative;
    border: 1.5px solid var(--app-color-1);
    border-radius: 6px;
    margin-bottom: 5px;
    padding: 10px 30px 10px 10px;
    color: var(--color-white-1);
    width: 100%;
    min-height: 42px;
}

.btn-delete {
    position: absolute;
    min-width: 30px;
    right: 0;
    height: 20px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    line-height: 0;
    opacity: 0;
    transition: .3s cubic-bezier(0.4, 0, 1, 1);
    z-index: 1;
    color: var(--color-white-1);
}

.item-note:hover {
    background-color: rgba(211, 237, 247, 0.1);
}

.item-note:hover .btn-delete {
    opacity: 1;
}

.item-text {
    width: 95.3%;
    min-height: 18px;
}

.item-text:focus {
    outline: none;
}

.checkbox-complete {
    min-width: 15px;
    min-height: 15px;
    margin-right: 6px;
    border: 1.6px solid var(--app-color-1);
    border-radius: 3px;
    position: relative;
}

.checkbox-hide:checked+.checkbox-complete {
    background-color: rgb(255 255 255 / 48%);
}

.checkbox-hide:checked+.checkbox-complete::before {
    content: '\2714';
    position: absolute;
    top: -4px;
    font-size: 14px;
    color: var(--text-color-1);
}

.checkbox-hide {
    opacity: 0;
    position: absolute;
    z-index: 10;
}

.focus-item {
    background-color: rgba(212, 239, 249, 0.1) !important;
}

.icon-save {
    display: none;
    position: absolute;
    right: 0;
    z-index: 10;
    width: 40px;
    justify-content: center;
}

.icon-save::after {
    font-size: 17px;
    content: '\2714';
}

.title-pin {
    color: var(--color-white-1);
    margin: 10px 0;
    text-align: center;
}

.lock-checkbox {
    opacity: .6;
    /* background-color: var(--app-color-3); */
    z-index: 100;
}

full {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(black, transparent);
    animation: sideIn cubic-bezier(0.01, 0.02, 1, 1.01) 0.5s;
    z-index: 100;
}

advanced-edit {
    display: flex;
    flex-direction: column;
    width: 616px;
    max-width: 98%;
    background-color: var(--color-white-1);
    border-radius: 10px;
    border: 1.5px solid var(--app-color-3);
    box-shadow: 0px 0px 3px 0px var(--app-color-3);
    z-index: 10000;
    --growth-from: 0.4;
    --growth-to: 1;
    animation: growth cubic-bezier(0.43, 0.35, 0.61, 0.75) 0.2s;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    width: 100%;
    background-color: var(--app-color-4);
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.icon {
    margin-right: 10px;
}

.icon-pin {
    margin: 3px 5px 0 0;
    font-size: 20px;
    -webkit-text-stroke: 1px rgba(102, 102, 102);
    color: var(--color-white-1);
    cursor: pointer;
    padding: 8px;
}

seting {
    width: 140px;
    display: flex;
    justify-content: space-evenly;

}

.icon-setting {
    cursor: pointer;
    padding: 6px;
    color: var(--text-color-4);
}

.icon-setting:hover {
    color: var(--app-color-4);
}

time {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    padding: 5px;
    box-shadow: 0 0px 2px 0px var(--text-color-4);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: var(--app-color-3);
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    box-shadow: 0 0px 2px 0px var(--text-color-4);
}

close {
    color: var(--text-color-2);
    padding: 10px;
    cursor: pointer;
}

close:hover {
    color: var(--text-color-4);
}

#icon-full {
    position: absolute;
    right: -35px;
    display: none;
    padding: 10px;
    text-align: end;
    align-items: center;
    justify-content: center;
}

.item-note:hover #icon-full {
    display: block;
}

.show {
    display: flex;
}

.hide {
    display: none !important;
}

.bla {
    border: none;
    border-radius: 0px;
    margin: 0;
    color: var(--text-color-2);
}

.pin-item {
    color: var(--text-color-3);
}

color {
    position: relative;
}

.input-color {
    cursor: pointer;
    position: absolute;
    left: 0;
    width: 28px;
    opacity: 0;
}

.input-color::-webkit-color-swatch-wrapper {
    box-shadow: none;
}

tab {
    background-color: var(--color-white-1);
    position: absolute;
    width: 233.3px;
    height: 30px;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 100;
    box-shadow: 0 0px 3px -1px;
    display: none;
}


.tab-btn {
    cursor: pointer;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

deadline {
    display: block;
    position: relative;
}

.icon-deadline {
    display: block;
}

.input-deadline {
    position: absolute;
    width: 30px;
    height: 30px;
    left: -5px;
    opacity: 0;
}

up-down {
    position: absolute;
    left: -34px;
    height: 22px;
    width: 36px;
    opacity: 0;
    justify-content: center;
    cursor: move;
    margin-top: 5px;
}

.item-note:hover up-down{  
    display: flex;
    opacity: 1;
}

.icon-up-down {
    opacity: 0;
    text-align: center;
    font-size: 19px;
    width: 20px;
    position: absolute;
    /* cursor: pointer; */
}

.item-note:hover .icon-up-down {
    opacity: 1;
    color: var(--app-color-4);
}

.icon-up {
    top: -5px;
}

.icon-down {
    top: 10px;
}

.lock {
    pointer-events: none;
}

.item-drag {
    display: flex;
    align-items: center;
    border: 1.5px solid var(--app-color-2);
    border-radius: 6px;
    padding: 10px 30px 10px 10px;
    color: var(--color-white-1);
    width: 300px;
    height: 42px;
    position: absolute;
    background-color: var(--color-black-1);
    cursor: move;
    z-index: 999999;
    opacity: .8;
    overflow: hidden;
}

#foo{
    background-color: red;
    width: 86%;
    height: 5px;
    left: 32px;
    position: absolute;
    top: 69px;
    display: none;
}
#foo2 {
    background-color: red;
    width: 86%;
    height: 5px;
    left: 32px;
    position: absolute;
    display: none;
}

.blur {
    opacity: .4;
}

.indicator-drag {
    background-color: rgb(250, 54, 32);
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -6px;
    left: 0;
    display: none;
}

.item-note.ondrag .indicator-drag {
    display: block !important;
}

