:root {
    --app-color-1: #333;
    --app-color-2: #3ec6f7;
    --app-color-3: #f0f8ff;
    --app-color-4: #c0bebe;
    --text-color-1: #444;
    --text-color-2: #555;
    --text-color-3: #666;
    --text-color-4: #888;
    --color-white-1: #fff;
    --color-white-2: #f0eeee;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.center-y {
    display: flex;
    justify-content: center;
}

.center-x {
    display: flex;
    align-items: center;
}

.center-all {
    display: flex;
    align-items: center;
    justify-content: center;
}

html {
    font-family: sans-serif;
}

body {
    background-color: var(--app-color-4);
}

li{
    list-style: none;
}

.strikethrough {
    text-decoration: line-through;
    background-color: var(--color-white-2);
}

app {
    display: block;
    margin: 30px auto;
    width: 60%;
    min-height: 515px;
    background-color: var(--app-color-3);
    border-radius: 10px;
    border: 1.6px var(--app-color-2) solid;
    min-width: 500px;
}

add-note {
    width: 100%;
    margin-top: 25px;
}

.input-note {
    width: 80%;
    height: 40px;
    outline: none;
    border: 1.6px solid var(--app-color-2);
    border-radius: 15px;
    padding-left: 12px;
    font-size: 16px;
    color: var(--text-color-1);
}

.input-note::placeholder {
    color: var(--text-color-4);
    font-size: 15px;
}

.btn-add {
    height: 40px;
    width: 50px;
    border: 1.4px solid var(--app-color-2);
    border-radius: 15px;
    margin-left: 6px;
    background-color: var(--app-color-2);
    border: 1.5px solid var(--text-color-4);
    color: var(--text-color-1);
}

list-note {
    flex-direction: column;
    margin: 10px 35px 20px 30px;
    display: block;
}

.item-note {
    display: flex;
    align-items: center;
    position: relative;
    border: 1.5px solid var(--app-color-2);
    border-radius: 6px;
    margin-bottom: 5px;
    padding: 10px 30px 10px 10px;
    color: var(--text-color-1);
}

.btn-delete {
    position: absolute;
    min-width: 30px;
    right: 0;
    height: 20px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    line-height: 0;
    color: var(--text-color-2);
}


.item-note:hover {
    background-color: rgba(62, 198, 247, .1);
}

.item-text {
    width: 100%;
}


.item-text:focus {
    outline: none;
}


.checkbox-complete {
    width: 15px;
    height: 15px;
    margin-right: 6px;
    border: 1.6px solid var(--app-color-2);
    border-radius: 3px;
}

.checkbox-hide:checked+.checkbox-complete {
    background-color: rgba(62, 198, 247, .3);
}

.checkbox-hide:checked+.checkbox-complete:before {
    content: '\2714';
    position: absolute;
    top: 9px;
    font-size: 14px;
    color: var(--text-color-3);
}

.checkbox-hide {
    opacity: 0;
    position: absolute;
    z-index: 10;
}