app {
    width: 100%;
    min-width: 350px;
}

.btn-delete {
    opacity: 1;
    right: 5px;
}

.icon-up-down {
    opacity: 1;
}

.btn-add {
    height: 55px;
    right: 22px;
}

.input-note {
    height: 55px;
}

.item-note {
    min-height: 55px;
    width: 90%;
    margin-bottom: 10px;
    padding-right: 40px;
}

list-pin {
    margin: 10px 0 10px 30px;
    width: 92%;
    border: none;
}

list-pin::after {
    content: '------ End ------';
    font-size: 18px;
    color: var(--color-white-1);
    font-weight: 800;
    display: flex;
    justify-content: center;
    margin-right: 36px;
}

.title-pin {
    margin-right: 30px;
}

list-note {
    margin: 10px 0 10px 30px;
    width: 92%;
}

.bla {
    width: 100%;
    margin: 0;
}

#foo {
    width: 82%;
}

#icon-full {
    display: block;
    font-size: 18px;
}

.icon-drag {
    opacity: .8;
    margin-top: 5px;
    font-size: 20px;
}